@model DevTestes.Models.Sprint

@{
    ViewData["Title"] = "Excluir registro - Sprint";
}

<h1>Excluir registro</h1>

<div class="alert alert-danger" role="alert">Tem certeza que deseja excluir este registro?</div>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSprint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeSprint)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SprintId" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Cancelar</a>
    </form>
</div>
