@model DevTestes.Models.Sprint

@{
    ViewData["Title"] = "Alterar registro - Sprint";
}

<h1>Alterar registro</h1>

<h4>Sprint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SprintId" />
            <div class="form-group">
                <label asp-for="NomeSprint" class="control-label"></label>
                <input asp-for="NomeSprint" class="form-control" />
                <span asp-validation-for="NomeSprint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-success">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
