@model DevTestes.Models.Produto

@{
    ViewData["Title"] = "Visualizar registro - Produto Active";
}

<h1>Visualizar registro</h1>

<div>
    <h4>Produto Active</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.ProdutoId">Alterar</a>
    <a asp-action="Index" class="btn btn-outline-success">Cancelar</a>
</div>
