@model DevTestes.Models.ViewModels.BugProblemaFormViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="alert alert-success" role="alert"><h2>Novo registro</h2></div>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="BugProblema.Funcionario" class="control-label"></label>
                    <select asp-for="BugProblema.FuncionarioId" asp-items="@(new SelectList(Model.Funcionarios, "FuncionarioId", "NomeFuncionario"))" class="form-control"></select>
                    <span asp-validation-for="BugProblema.Funcionario" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="BugProblema.DtaComplemento" class="control-label"></label>
                    <input asp-for="BugProblema.DtaComplemento" class="form-control" />
                    <span asp-validation-for="BugProblema.DtaComplemento" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="BugProblema.Chamado" class="control-label"></label>
                    <input asp-for="BugProblema.Chamado" class="form-control" />
                    <span asp-validation-for="BugProblema.Chamado" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="BugProblema.Sprint" class="control-label"></label>
                    <select asp-for="BugProblema.SprintId" asp-items="@(new SelectList(Model.Sprints, "SprintId", "NomeSprint"))" class="form-control"></select>
                    <span asp-validation-for="BugProblema.Sprint" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="BugProblema.Produto" class="control-label"></label>
                    <select asp-for="BugProblema.ProdutoId" asp-items="@(new SelectList(Model.Produtos, "ProdutoId", "NomeProduto"))" class="form-control"></select>
                    
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="BugProblema.Impacto" class="control-label"></label>
                    <input asp-for="BugProblema.Impacto" class="form-control" />
                    <span asp-validation-for="BugProblema.Impacto" class="text-danger"></span>
                </div>
                <div class="form-group col-md-10">
                    <label asp-for="BugProblema.Descricao" class="control-label"></label>
                    <input asp-for="BugProblema.Descricao" class="form-control" />
                    <span asp-validation-for="BugProblema.Descricao" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-success">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
