@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desenvolvimento Active</h1>
    <p>Bugs encontrados pela equipe antes da entrega para homologação</p>
</div>
