@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Desenvolvimento Active!</h4>
        <p>Bugs encontrados pela equipe antes da entrega para homologação</p>
        <hr>
        <p class="mb-0">Time ultra mega blaster ágil!!!</p>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Lista de Bugs</h5>
            <p class="card-text">Confira aqui como andam os itens encontrados pela equipe</p>
            <a href="" class="btn btn-primary">Carregar lista</a>
        </div>
    </div>
</div>
