@model DevTestes.Models.Funcionario

@{
    ViewData["Title"] = "Delete";
}

<div class="alert alert-danger" role="alert"><h2>Confirma e exclusão do registro?</h2></div>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncionario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Cancelar</a>
    </form>
</div>
