@model DevTestes.Models.Funcionario

@{
    ViewData["Title"] = "Details";
}

<div class="alert alert-success" role="alert"><h2>Visualizar registro</h2></div>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncionario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.AnalistaId">Alterar</a>
    <a asp-action="Index" class="btn btn-outline-success">Cancelar</a>
</div>
